@import "tailwindcss";

@font-face {
  font-family: "Dodo";
  src: url("../public/fonts/d038e09b3a73d925def3..woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dodo";
  src: url("../public/fonts/d038e09b3a73d925def3..woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

:root {
  padding: 0px;
  margin: 0px;
  height: 200vh;
  font-family: "Dodo";
}

.hide-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* change the text on hover */
.dodo-hover {
  @apply hover:text-orange-500 hover:transition hover:delay-75 cursor-pointer;
}

/* applies for all of the body elements */
.dodo-padding-left {
  @apply px-[calc((100%-960px)/2)] xl:px-[calc((100%-1280px)/2)];
}

.cookies-message {
  box-shadow: 0px 6px 20px rgba(6, 5, 50, 0.1);
}

.topping-shadow {
  box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 20px;
}

/* custom label styles for radio */
.radio-style {
  flex: 1 1 0%;
  line-height: 32px;
  height: 32px;
  user-select: none;
}

/* custom radio styles */
.custom-radio {
  position: absolute;
  padding: 2px;
  height: 32px;
  /*width: 110px; */
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 9999px;
  box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
}

@theme {
  --animate-live-pulse: live-pulse 2s ease-in-out infinite;
  --animate-logo-appear: logo-appear 0.5s ease-in-out;
  --animate-logo-disappear: logo-disappear 0.5s ease-in-out forwards;
  --animate-story: story 4s forwards;
  --animate-hide-cart: cart-hide 0.5s ease-in-out forwards;
  --animate-cart-appear: cart-appear 0.5s ease-in-out forwards;
  --animate-size-change-smallMedium: size-change-smallMedium 0.2s ease-out
    forwards;
  --animate-size-change-mediumLarge: size-change-mediumLarge 0.2s ease-out
    forwards;
  --animate-size-change-largeMedium: size-change-largeMedium 0.2s ease-out
    forwards;
  --animate-size-change-mediumSmall: size-change-mediumSmall 0.2s ease-out
    forwards;
  --animate-size-change-smallLarge: size-change-smallLarge 0.2s ease-out
    forwards;
  --animate-size-change-largeSmall: size-change-largeSmall 0.2s ease-out
    forwards;
  --animate-type-change-tradThin: type-change-tradThin 0.2s ease-out forwards;
  --animate-type-change-thinTrad: type-change-thinTrad 0.2s ease-out forwards;

  @keyframes type-change-tradThin {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(103%);
    }
  }

  @keyframes type-change-thinTrad {
    0% {
      transform: translateX(103%);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes size-change-smallMedium {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(105%);
    }
  }

  @keyframes size-change-mediumLarge {
    0% {
      transform: translateX(105%);
    }
    100% {
      transform: translateX(205%);
    }
  }

  @keyframes size-change-largeMedium {
    0% {
      transform: translateX(205%);
    }
    100% {
      transform: translateX(105%);
    }
  }

  @keyframes size-change-mediumSmall {
    0% {
      transform: translateX(105%);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes size-change-smallLarge {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(205%);
    }
  }

  @keyframes size-change-largeSmall {
    0% {
      transform: translateX(205%);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes cart-appear {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes cart-hide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(150%);
      display: hidden;
    }
  }

  @keyframes story {
    0% {
      transform: translateX(0px);
      position: relative;
      bottom: 4px;
      width: 0px;
    }
    100% {
      transform: translateX(0px);
      width: 85px;
      background-color: white;
      position: relative;
      bottom: 4px;
    }
  }

  @keyframes live-pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes logo-appear {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes logo-disappear {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
